.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: #13a4a4;
}
/* BEM: name the classes following this pattern:
BLOQUE__ELEMENTO–MODIFICADOR */
.main-nav__item {
    display: inline-block;
}

/* After the name of the class, we can specify with selectors
 the style of the elements within the class */
.main-nav__item a {
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

/* pseudo clases: Defines the stlye of a special state */
.main-nav__item a:hover {
    color: blue;
}
.main-nav__item a:active {
    color: red;
}
/* pseudo elements: Defines the style of a specific element*/
.main-nav__item a::after {
    content: " | "
}